@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

[flex]{display: flex;}
[grid-columns-auto-1fr]{display: grid;grid-template-columns: auto 1fr;}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 0.4rem;
}
*::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 0.4rem;
}
*::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}
[astronaut] input, button {
  border: 0;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  color: currentColor;
}
[astronaut] body { 
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
[astronaut] body[main]::before {
  content: '';
  position: absolute; 
  width: 100%;
  height: 100%;
}


/*===========================contextMenuCustom=======================*/
body #contextMenu {
  position: absolute;
  z-index: 1;
  top: 0px;
}
body #contextMenu .overlayContextMenuCustom {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
body #contextMenu .contextMenuCustom {
  position: fixed;
  min-width: 12rem;
  border-radius: 0.3rem;
  backdrop-filter: blur(3px);
  box-shadow: rgb(0 0 0 / 41%) 0px 2px 7px -2px;
  z-index: 1;
  padding: 0.5rem 0rem;
  background: #22272e26;
}
body #contextMenu button.btn {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.1rem;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  font-family: system-ui;
  font-size: 0.9rem;
  border: none;
  outline: none;
  color: currentcolor;
  background: transparent;
/*   border-radius: 0.3rem; */
}
body #contextMenu button.btn.column-2 {
  grid-template-columns: 1fr auto;
  padding: 0.4rem 0.8rem;
}

body #contextMenu button.btn:hover {
  background: #22272e9e;
}

body #contextMenu button.btn i {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 2px;
}
body #contextMenu button.btn.column-2 i {
  margin-right: 0;
}
body #contextMenu button.btn span {
  text-align: left;
  margin-bottom: 1px;
}
body #contextMenu button.btn span.shortcut {
  margin-right: 0.3rem;
}
body #contextMenu button.btn svg.bi-check2 {
  text-align: left;
  margin-bottom: 1px;
  color: rgb(0 217 32);
}


/*========================final contextMenuCustom====================*/

/*notify*/
#notify {
  --borderButtons: 1px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
  transition: ease 0.2s;
  max-width: 80%;
  min-width: 20rem;
  max-height: 6rem;
}

#notifyOverlay {
  z-index: 98;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#notify .message {
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  overflow: overlay;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#notify .message .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

}
#notify .message .buttons div {
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: ease 0.2s;
}
#notify .message .buttons div:first-child {
  border: solid var(--borderButtons) #fff;
}
#notify .message .buttons div:first-child:hover {
  background: #ffffff38;
}
#notify .message .buttons div:last-child {
  border: solid var(--borderButtons) #ffffff00;
}
#notify .message .buttons div:last-child:hover {
  border: solid var(--borderButtons) #fff;
}


#notify.visible {
  z-index: 99;
}
#notify.visible .message {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.12);
  animation-direction: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
[top]{
  top: 5%;
}
#notify[top]:not(.visible) {
  transform: translate(-50%, -40%);
  opacity: 0;
}

#notify[left="top"],
#notify[left="bottom"]{
  left: 3%;
  transform: translate(-0%, 0%);
}
#notify[left="top"]{
  top: 3%;
}
#notify[left="bottom"]{
  bottom: 3%;
}
#notify[left="top"]:not(.visible) {
  top: 5%;
  left: 0;
  transform: translate(-0%, 0%);
  opacity: 0;
}
[bottom]{
  bottom: 10%;
}
#notify[bottom]:not(.visible) {
  transform: translate(-50%, 70%);
  opacity: 0;
}
@keyframes notifybottom {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes notifytop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes notifyleft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(10%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

/*spinnerLoad*/

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  top: 0;
  left: 0;
  z-index: 2;
}
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 50px;
  height: 50px;  
  transform: translate(-50%, -50%);
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

